# ELK Stack access
upstream backend {
    # the elk server
    server 127.0.0.1:5601;
    keepalive 64;
}

server {
    listen          80;
    server_name     {{ nginx_domain }};
    return          301 https://$server_name$request_uri;
}

server {
    listen                      443 ssl;
    server_name                 {{ nginx_domain }};

    ssl_certificate             /etc/ssl/charcoaleats.crt;
    ssl_certificate_key         /etc/ssl/charcoaleats.key;


    location / {
        auth_basic "Restricted Content";
        auth_basic_user_file {{ nginx_root_path }}/.htpasswd;

        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass http://backend;
        proxy_http_version 1.1;
        proxy_pass_request_headers on;
        proxy_set_header Connection "keep-alive";
        proxy_store off;
    }

    location /healthcheck {
        access_log off;
        return 200 "healthy\n";
    }

}