MB_JETTY_HOST="{{ metabase_interface }}"
MB_JETTY_PORT={{ metabase_port }}

MB_DB_TYPE="{{ metabase_db_type }}"
MB_DB_DBNAME="{{ metabase_db_name }}"
MB_DB_HOST="{{ metabase_db_host }}"
MB_DB_PORT="{{ metabase_db_port }}"
MB_DB_USER="{{ metabase_db_user }}"
MB_DB_PASS="{{ metabase_db_pass }}"